body {
  background-color: rgb(0, 191, 255);
}

h1 {
  color: white;
  text-align: center;
}
h2 {
  color: white;
  text-align: left;
}
h3 {
  color: white;
  text-align: left;
}
h4 {
  color: white;
  text-align: left;
}
h5 {
  color: white;
  text-align: left;
}
h6 {
  color: white;
  text-align: left;
}

p {
  font-family: verdana;
  font-size: 20px;
}