body {
  background: url("../img/bg-site.jpg") no-repeat center center;
  background-color: rgb(63, 63, 63);
  background-size: cover;
  background-attachment: fixed; /* opcional, fixa o fundo */
}

#container {
  background-color: transparent;
  border: 3px solid rgb(0, 0, 0);
  /*largura da tela*/
  max-width: 400px;
  /*centralizar*/
  margin: 0 auto;
  /*espaçamento dentro dos elementos*/
  padding: 20px;
  text-align: center;
  border-radius: 25px;
}

#tarefa {
  color: rgb(0, 0, 0);
  border: 2px solid rgb(65, 65, 65);
  padding: 5px;
  border-radius: 5px;
  outline: none;
}
#tarefa::placeholder {
  color: gray;
}
#btn-add {
  background-color: transparent;
  padding: 8px;
  border: 0;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  font-size: 20px;
}

.linksW3 {
  padding: 8px;
  display: block;
  margin: 0 auto;
  width: 400px;
  font-size: 20px;
}
