body{
    background-color: rgb(0, 155, 194);
}   
h1{
    color: wheat;
    text-align: center;
}
.centralizar{
    text-align: left;
    color: blanchedalmond;
    
}
.textosItalia{
    text-align: left;
    display: inline-block;
    padding-left: 2%;
}
.textosPaisagem{
    text-align: left;
    display: inline-block;
    padding-left: 2%;
}
